@media (min-width: 280px) and (max-width: 425px) {
    // Header start
  #header {
    .text1 {
      font-size: 1.2rem;
    }
    .logo img {
      width: 12rem;
      height: 4rem;
    }
    .to_open_btn {
      button {
        padding: 0.8rem 1.2rem;
        font-size: 1rem;
      }
    }
  }
//   Slider start
  #slider {
    height: 100% !important;

    .img_txt {
      margin-top: 0 !important;

      h2 {
        font-size: 2.5rem;
        margin-top: 4rem;
        padding-right: 10.9rem;
      }
    }
    .open_btn {
      button {
        padding: 0.5rem 2.5rem;

        font-size: 1.2rem;
        font-weight: 200;
      }
    }
    .dots_top {
      display: none;
    }
    .dots_bottom {
      display: none;
    }
  }
//   customer-care Start
  #cutomer_care {
    .care-title {
      p {
        margin: 0;
        padding-bottom: 2rem;
      }
    }
  }
}
